@use 'variables' as v;

// Media Queries
@mixin phone {
  @media (min-width: v.$phone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: v.$laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

// CSS Flex
@mixin flex($direction: null, $spacing: null, $alignment: null) {
  display: flex;
  flex-direction: $direction;
  justify-content: $spacing;
  align-items: $alignment;
}

// CSS Grid
@mixin grid($columns, $number, $size-gap) {
  display: grid;
  grid-template-columns: repeat($columns, $number);
  gap: $size-gap;
}

// Limpiar estilos listas
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}