@use 'base/variables' as v;
@use 'base/mixins' as m;

.about-festival {
  padding: 5rem 0;

  @include m.tablet {
    @include m.grid(2, 1fr, 5rem);
  }
}

.festival-content {
  @include m.flex(column, center);
  margin-top: 5rem;

  @include m.tablet {
    margin-top: 0;
  }

  h2 {
    color: v.$black;
    margin-bottom: 2rem;
  }

  .festival-date {
    color: v.$redpink;
    font-weight: 700;
  }
}