@use 'base/variables' as v;
@use 'base/mixins' as m;

.gallery {
  padding: 5rem 0;

  h3 {
    color: v.$black;
    text-align: center;
  }
}

.gallery-images {
  @include m.reset-list;
  @include m.grid(2, 1fr, 2rem);
  @include m.phone {
    @include m.grid(3, 1fr, 2rem);
  }
  @include m.tablet {
    @include m.grid(4, 1fr, 2rem);
  }
  @include m.laptop {
    @include m.grid(6, 1fr, 2rem);
  }

  picture {
    cursor: pointer;
  }
}

.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;

  background-color: rgb(0 0 0 / .5);

  picture {
    display: block;
    max-width: 80rem;
  }
}

.btn-close {
  background-color: v.$white;
  color: v.$black;
  font-weight: 700;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  display: grid;
  place-items: center;

  &:hover {
    cursor: pointer;
  }
}