@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
  background-color: v.$aqua;

  h1 {
    color: v.$white;
    text-align: center;
    @include m.tablet {
      margin: 0;
    }
  }

  .header-content {
    padding: 2rem;

    @include m.tablet {
      @include m.flex(null, space-between, center);
    }
  }
}

.main-navigation {
  @include m.tablet {
    display: flex;
    gap: 2rem;
  }

  a {
    color: v.$white;
    display: block;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    text-align: center;

    @include m.tablet {
      margin: 0;
    }

    &:hover {
      color: v.$yellow;
    }
  }
}