@use 'base/variables' as v;
@use 'base/mixins' as m;

// Aplicando Overlay al Titulo sobre el video
.video {
  min-height: 50rem;
  max-height: 70rem;
  overflow: hidden;
  position: relative;
  .overlay {
    background: rgb(126,2,195);
    background: linear-gradient(270deg, rgba(126,2,195,0.5) 0%, rgba(255,0,110,0.3) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  // El titulo debe ocupar todo el espacio del video
  video {
    display: block;
    width: auto;
    @include m.laptop {
      width: 100%;
    }
  }
}

// Darle estilo al Titulo y Subtitulo
.content-video {
  z-index: 1;

  h2 {
    color: v.$white;
    font-size: 7rem;
    margin: 0;
  }

  p {
    background-color: v.$redpink;
    color: v.$white;
    display: inline-block;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem 2rem;
  }
}